/* Row */

.row {
	align-items: stretch;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
  justify-content: space-between;
  margin: 5px 0;
	position: relative;
	text-align: center;
  width: 100%;
}
