/* Row */

.row {
	align-items: center;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	max-width: 832px;
	position: relative;
	text-align: center;
}

row:first-child {
	margin-bottom: 5px;
}
