/* impactStoriesMobile */

.impactStories {
	margin: 25px 0 0;
	padding: 0 6px 0 5px;

	.arrow {
		top: 55px;
	}
}

.stories-wrapper {

	div:first-child {
		flex-basis: 80%;

		.title-blurb-wrapper {
			flex-basis: 100%;
		}
	}

	.thumbnail-wrapper {
		flex-basis: 20%;
		text-align: right;
	}
}

.title-blurb-wrapper {
	min-height: 170px;
	padding: 0 10px 0 0;
}



.thumbnail {
	display: none;
}
