/* Impact Stories */

@import "src/styles/_utils";
@import "src/styles/base";
@import "src/Components/FocusTargets/focusTargets";

.impactStories {
	margin: 10px 0;
	padding: 0 10px 0 20px;
	text-align: left;
}

.stories-wrapper {
	align-items: top;
	display: flex;
	flex-direction: top;
	flex-wrap: nowrap;
}

.title-blurb-wrapper {
	min-height: 135px;
}

.thumbnail-wrapper {
	margin: 0 0 0 5px;
}

.thumbnail {
	margin: 0;
	max-width: 180px;
	padding: 0;
	position: relative;
	top: 5px;
}
