.page-title {

	padding: 0 5px;
	text-align: left;

	h1 {
		color: #4B4B4B;
		font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
		font-size: 4rem;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 4.5rem;
		margin: .67em 0;
		margin-top: 30px;
		-webkit-margin-before: 0.83em;
		-webkit-margin-after: 0.83em;
	}

	p {
		font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
		font-size: 1.6rem;
		line-height: 2.0250000000000004rem;
		color: #4B4B4B;
		font-weight: 400;
		margin: 20px 0 13.5px;
		-webkit-font-smoothing: antialiased;
	}

}
