@import "utils";

html {
	font-size: 62.5%;
}

html, body {
  background-color: #fff;
  height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.body-content {
	@include flex();
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1138px;
	width: 100%;
}

.right-col {
	flex-basis: 100%;
}

#app {
	display: inline-block;
  height: 100%;
  width: 100%;
}

h1 {
	display: inline;
	font-size: 7rem;
	color: $iloblue;
	font-family: $sdg-number;
	position: relative;
	line-height: 90%;
	letter-spacing: 0.024em;
}

h2 {
	font-family: $font-stack;
	font-size: 2.4rem;
	font-weight: 400;
	color: $titleColor;
	line-height: 1.2em;
	margin: 0 0 5px;
	padding: 0;
	transition: color 0.1s ease;
}

h2:hover {
	color: $bulletSelected;
}

h3 {
	font-family: $font-stack;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h4 {
	color: $bulletSelected;
	font-family: $font-stack;
	font-size: .9rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
}

p {
	font-family: $font-stack;
	font-size: 1.6rem;
	font-weight: 400;
	color: $dark-grey;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
}

p span {
	font-weight: inherit;
}

span {
	@extend p;
	font-weight: 600;
}

span.more {
	font-weight: 400;
	color: $titleColor;
}

a {
	text-decoration: none;
}
