/* mediumMobileBase */

.titleBar {

	h1 {
		font-size: 2.6rem;
		letter-spacing: .8px;
	}

	.defaultTitle {
		font-size: 4.68rem;
	}
}

.mobileSdgName {
	font-size: 1.5rem;
	letter-spacing: .3px;
	line-height: 1.5rem;
}

.modal {
	width: 95%;
}
