/* -- Typography -- */

$font-stack: "Apex New Book", sans-serif;
$sdg-number: "GiorgioSans-Bold", "Source Sans Pro", sans-serif;
$sdg-text: "Apex New Bold", "Source Sans Pro", sans-serif;


/* -- Mixins -- */

@mixin flex() {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

/* -- Color Palette -- */

$titleColor: #0080b0;
$bulletSelected: #3bc3e4;
$bulletUnselected: #bdebf6;
$dark-grey: #2a2a2a;
$light-grey: #7e7e7e;
$unblue: #29abe2;

/* Global Goals */
$sdgrey: #f1f1f1;
$goal1color: #e5243b;
$goal2color: #dda63a;
$goal3color: #4c9f38;
$goal4color: #c5192d;
$goal5color: #ff3a21;
$goal6color: #26bde2;
$goal7color: #fcc30b;
$goal8color: #a21942;
$goal9color: #fd6925;
$goal10color: #dd1367;
$goal11color: #fd9d24;
$goal12color: #bf8b2e;
$goal13color: #3f7e44;
$goal14color: #0a97d9;
$goal15color: #56c02b;
$goal16color: #00689d;
$goal17color: #19486a;

/* Colors List */
$colors-list: #f1f1f1, #e5243b, #dda63a, #4c9f38, #c5192d, #ff3a21, #26bde2, #fcc30b, #a21942, #fd6925, #dd1367, #fd9d24,
#bf8b2e, #3f7e44, #0a97d9, #56c02b, #00689d, #19486a;
