/* Utilities */

$font-stack: "Source Sans Pro", sans-serif;

$bulletSelected: #3bc3e4;

$bulletUnselected: #bdebf6;

$dark-grey: #2a2a2a;

$light-grey: #7e7e7e;

$goal6color: #26bde2;

$goal8color: #a21942;

@mixin flex() {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}
