/* Icon */
.icon-wrapper {
	box-sizing: border-box;
	cursor: pointer;
	flex-basis: auto;
  margin: 5px 0;
	position: relative;
  width: 16.6666%;
}

.icon {
	box-sizing: border-box;
	cursor: pointer;
	opacity: 0.3;
  max-height: 210px;
	transition: opacity 200ms ease;
  width: 90%;
}

.icon:hover {
	opacity: 1;
}

// Hide the mobile stuff
.mobileSdgNumber, .mobileSdgName {
	display: none;
}

/* CSS Tranbsi */
span .little-triangle-enter {
  visibility: hidden;
  will-change: visibility;
}

.little-triangle-enter.little-triangle-enter-active {
  visibility: visible;
  transition: visibility 250ms ease 500ms;
}

.little-triangle-leave {
  visibility: visible;
  will-change: visibility;
}

.little-triangle-leave.little-triangle-leave-active {
  visibility: hidden;
}
