$class-slug: sdg !default;

// Hide all the SVGs
@for $i from 0 through 17 {
	svg.#{$class-slug}#{$i} {
		display: none;
	}
}

// Colorize all the icons
@each $current-color in $colors-list {
	$i: index($colors-list, $current-color) - 1;
	.#{$class-slug}#{$i} {
		background-color: $current-color;
	}
}

.icon-wrapper {
	margin: 2.5px 0;
	padding: 0;
	width: calc(33% - 2.5px);
}

.icon {
	@include flex();
	align-items: center;
	box-sizing: border-box;
	color: #fff;
	flex-wrap: nowrap;
	font-family: $sdg-number;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	opacity: 0.4;
	&:hover {
		opacity: 1;
	}
}

.icon:hover {
	opacity: 1;
}

.mobileSdgNumber {
	bottom: 3px;
	display: inline-block;
	font-size: 4.3rem;
	position: relative;
	margin: 0 10px 0 5px;
	vertical-align: middle;
}

.mobileSdgName {
	display: inline-block;
	font-size: 1.6rem;
	position: relative;
	letter-spacing: .8px;
	line-height: 1.8rem;
	text-align: left;
	text-transform: uppercase;
}

.mobileSdgNumber > img {
	left: -5px;
	position: relative;
	width: 25px;
}

.sdg0 .mobileSdgNumber {
	margin: 0 0 0 5px;
}
