/* Icon */
.icon {
	box-sizing: border-box;
	cursor: pointer;
	flex-basis: auto;
	padding: 5px;
	width: 16.666%;
}

/* SDG1 */

.cls-1 {
	fill:#e3253c;
}

.cls-2 {
	fill:#fff;
}

.cls-3 {
	fill:none;
	stroke:#fff;
	stroke-linecap:round;
	stroke-miterlimit: 10;
	stroke-width:1.31px;
}

/* SDG2*/
