/* Icon */
.icon {
	box-sizing: border-box;
	cursor: pointer;
	flex-basis: auto;
	padding: 5px;
	width: 16.666%;
}

/* SDG1 */
.sdg1-1 {fill:#fff;}
.sdg1-2, .sdg1-3 {fill:#e3253c;}
.sdg1-3 {stroke-linecap:round;stroke-miterlimit: 10;stroke-width:1.31px;}

/* SDG2 */
.sdg2-2 {fill:#dea73a;}
.sdg2-1 {fill:#fff;}

/* SDG3 */
.sdg3-2{fill:#4ca046;}
.sdg3-1{fill:#fff;}

/* SDG4 */
.sdg4-2{fill:#c5202e;}
.sdg4-1{fill:#fff;}

/* SDG5 */
.sdg5-2{fill:#ef412c;}
.sdg5-1{fill:#fff;}

/* SDG6 */
.sdg6-2{fill:#29bee2;}
.sdg6-1{fill:#fff;}

/* SDG7 */
.sdg7-2{fill:#fac315;}
.sdg7-1{fill:#fff;}

/* SDG8 */
.sdg8-1{fill:#fff;}
.sdg8-2{fill:#a21c44;}

/* SDG9 */
.sdg9-1{fill:#fff;}
.sdg9-2{fill:#f26a2c;}

/* SDG10 */
.sdg10-1{fill:#fff;}
.sdg10-2{fill:#dd1768;}

/* SDG11 */
.sdg11-1{fill:#fff;}
.sdg11-2{fill:#f99d28;}

/* SDG12 */
.sdg12-1{fill:#fff;}
.sdg12-2{fill:#be8b2c;}
.sdg12-3{fill:none;stroke:#be8b2c;stroke-miterlimit:10;stroke-width:0.73px;}

/* SDG13 */
.sdg13-1{fill:#fff;}.sdg13-2{fill:#417f45;}

/* SDG14 */
.sdg14-1{fill:#fff;}.sdg14-2{fill:#1c97d4;}

/* SDG15 */
.sdg15-1{fill:#fff;}.sdg15-2{fill:#5cba47;}

/* SDG16 */
.sdg16-1{fill:#fff;}.sdg16-2{fill:#07699e;}

/* SDG16 */
.sdg17-1{fill:#fff;}.sdg17-2{fill:#18496b;}
