/* SDGexplorerMobile */

.sliding-viewer-enter.sliding-viewer-enter-active {
	max-height: 575px;
}

.sliding-viewer-leave {
	max-height: 575px;
}

.sliding-viewer-leave.sliding-viewer-leave-active {
	margin: 0;
	max-height: 0;
}
