/* SDGexplorer */

.sdgExplorer {
	width: 100%;
}

.sliding-viewer {
	box-sizing: border-box;
	max-height: 500px;
}

span .sliding-viewer-enter {
	height: 0;
	max-height: 0;
	visibility: hidden;
	will-change: max-height, height, visibility;
}

.sliding-viewer-enter.sliding-viewer-enter-active {
	height: auto;
	max-height: 500px;
	visibility: visible;
	transition: all 700ms ease 500ms;
}

.sliding-viewer-leave {
	max-height: 500px;
	will-change: max-height;
}

.sliding-viewer-leave.sliding-viewer-leave-active {
	margin: -13px 0 0;
	max-height: 0;
	transition: all 500ms ease;
}
