/* SDGexplorer */

.sdgExplorer {
	@extend .wrapper;
}

.sliding-viewer {
	position: relative;
}

.sliding-viewer-enter {
	height: 0;
	visibility: hidden;
}

.sliding-viewer-enter.sliding-viewer-enter-active {
	height: 460px;
	visibility: visible;
	transition: all 500ms ease 500ms;
}

.sliding-viewer-leave {
	height: 460px;
}

.sliding-viewer-leave.sliding-viewer-leave-active {
	height: 0;
	transition: all 500ms ease;
}

/* ----- Transition using opacity. This works -------- */

/*
.sliding-viewer {
	position: relative;
	min-height: 460px;
}

.sliding-viewer-enter {
	opacity: 0;
	visibility: hidden;
}

.sliding-viewer-enter.sliding-viewer-enter-active {
	opacity: 1;
	visibility: visible;
	transition: opacity 500ms ease;
}

.sliding-viewer-leave {
	opacity: 1;
	visibility: visible;
}

.sliding-viewer-leave.sliding-viewer-leave-active {
	opacity: 0;
	visibility: hidden;
	transition: opacity 150ms ease;
}

----------------------------------------------------------- */
