.main-container {
	text-align: center;
}

.vis-container {
	display: inline-block;
	height: auto;
	width: auto;
	max-width: 876px;
	text-align: center;
}

.icons-row {
	display: inline-block;
	width: auto;
	max-height: 100px;
}

.icon {
	max-width: 100px;
	display: inline-block;
}
