/* SDGexplorer */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

$font-stack: "Source Sans Pro", sans-serif;

$bulletSelected: #3bc3e4;
$bulletUnselected: #bdebf6;
$dark-grey: #2a2a2a;
$light-grey: #7e7e7e;
$goal6color: #26bde2;
$goal8color: #a21942;


@mixin flex() {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

html,
body,
#app,
.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper {
	max-width: 750px;
	text-align: center;
}

.sdgExplorer {
	@extend .wrapper;
}

/* Row */
.row {
	align-items: center;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	position: relative;
	text-align: center;
}

/* Icon */
.icon {
	box-sizing: border-box;
	flex-basis: auto;
	padding: 5px;
	width: 16.666%;
}

/* ViewerWindow */
.viewerWindow {
	height: 50%;
	max-height: 500px;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 100%;
}

/* TitleBar */

.titleBar {
	@include flex();
	flex-wrap: nowrap;
	padding: 0;
	background-color: $goal8color;
	position: relative;
	text-align: left;
	width: calc(100% - 10px;)
}

.sdgNumber {
	align-self: center;
	font-family: $font-stack;
	font-size: 8em;
	bottom: 5px;
	color: #fff;
	left: -12px;
	line-height: 75%;
	margin: 0;
	padding: 0;
	position: relative;
}

.viewerWindow > div:first-child {
	margin: 0;
	padding: 0;
}

/* Triangle */
.viewerWindow > div:first-child::after {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $goal8color;
	content: "";
	display: block;
	margin: 2px 0;
	position: relative;
	height: 0;
	width: 0;
}

.sdgName {
	display: inline;
	font-size: 1.3em;
	color: #fff;
	font-family: $font-stack;
}

/* Focus Targets */
.focusTargets {
	font-family: $font-stack;
	padding: 0 20px 0 20px;
	text-align: left;
}

h3 {
	color: $goal8color;
	font-size: .9em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.targetSelector {
	@include flex();
	flex-wrap: nowrap;
	margin: 5px 0;
}

.bullets {
	margin: 0;
	padding: 0;
}

h4 {
	color: $bulletSelected;
	font-size: .9em;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
}

.bullet {
	color: $bulletUnselected;
	display: inline;
	font-size: 3em;
	line-height: 50%;
	margin: 0 10px 0 10px;
	position: relative;
	top: 2px;
}

.bullet::before {
	content: "\2022";
}
