/* Modal */

.modal {
	box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.28);
	color: #000;
	display: block;
	font-weight: 400;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 750px;
	position: fixed;
	text-align: left;
	top: 30%;
	width: 55%;
	z-index: 9999;
}

#modal-backdrop {
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
}
