

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(0.7);
    transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(0.7);
}

.modal {
	border: 1px solid red;
	bottom: 0;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	color: #000;
	display: block;
	font-weight: 400;
	left: 0;
	min-height: 250px;
	min-width: 250px;
	padding: 15px;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	transition: all .25s ease-out;
	width: 80%;
}
