.up-triangle {
	content: "";
	display: block;
	height: 0;
	position: absolute;
	transition: "border-top 500ms ease";
	width: 0;
  margin: 0;
  padding: 0;
  bottom: initial;
  top: -10%;
}

.down-triangle {
  @extend .up-triangle;
  top: initial;
  bottom: -10%;
}
