.toolTipButtons {
	margin: 8px 0 0 5px;
	text-align: right;

	span {
		cursor: pointer;
		font-weight: 400;
		opacity: 0.6;
		text-align: right;
		transition: opacity 250ms ease-out;
	}

	span:hover {
		opacity: 1;
	}

	.bold {
		font-weight: 600;
	}
}
