.description-carousel {
	position: absolute;
	display: inline-block;
}

.carousel-enter {
	opacity: 0.1;
}

.carousel-enter.carousel-enter-active {
	opacity: 1;
	transition: opacity 150ms ease-in;
}

.carousel-leave {
	opacity: 1;
}

.carousel-leave.carousel-leave-active {
	opacity: 0.1;
	transition: opacity 100ms ease-in;
}
