/* Header*/

/**
  * @TODO: Make links to assets relative
*/

header {
	clear: both;
	display: block;
	font-family: "FS Me Web Regular", Helvetica, Arial, Verdana, sans-serif;
//	font-size: 1.35rem;
	font-weight: 600;
	line-height: 2.0250000000000004rem;
	margin: 0 0 30px 0;
	-webkit-font-smoothing: antialiased;

	nav ul {
		margin: 0;
		padding: 0;

		li {
			float: left;
			display: block;
			font-size: 12px;
			line-height: 17px;
    		text-align: -webkit-match-parent;

			a {
				color: #FFF;
				padding: 12px 10px 14px 10px;
				display: inline-block;
			}
		}
/*
		li.here a {
			cursor: default;
    		color: #4B4B4B;
		}
*/
	}
}

#primary-banner {
	background-color: #37468E;
	overflow: hidden;
	color: #FFF;

	h2 {
		color: #FFF;
		font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
		font-size: 23px;
		font-weight: 100;
		line-height: 25px;
		margin-bottom: 8px;
		margin-top: 42px;
    	text-align: right;
	}

	h3 {
		font-size: 12px;
		line-height: 15px;
		margin-top: 0;
		color: #b0b9e1;
		font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
		font-weight: 100;
		text-align: right;
		text-transform: inherit;

		a {
			color: #b0b9e1;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.language {
		position: absolute;
		font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
		top: -1px;
		right: 15px;
		border: 1px solid #6777c4;
		font-size: 11px;
		line-height: 15px;
		padding: 5px 10px;
		color: #6777c4;

		a {
			color: #FFF;
			padding-right: 3px;
			padding-left: 3px;
		}
	}
}

.container {
	margin: 0 auto;
	position: relative;
	max-width: 1138px;
}

.header-row {
	display: block;
	margin-left: -15px;
	margin-right: -15px;
}

.header-row::before {
    content: " ";
    display: table;
}

/*
.large-6-col {
	box-sizing: border-box;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
}

*/
.large-7-col {
/*
	float: left;
	font-weight: 400;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	width: 58.3333333%;
*/

	nav div {

		ul {
			display: block;
			list-style-type: disc;
			margin: 0;
			padding: 0;

			li {
				display: block;
				float: left;
				font-size: 12px;
				line-height: 16px;
				text-align: -webkit-match-parent;
				text-decoration: none;
				width: 24%;

				a {
					border-left: 1px solid rgba(0,0,0,.1);
				    border-right: 1px solid rgba(255,255,255,.1);
					color: #fff;
					cursor: auto;
					display: inline-block;
				    width: 80%;
				    font-size: 12px;
				    padding: 11px 10% 10px 10%;
				    font-family: "FS Me Web Bold",Helvetica,Arial,Verdana,sans-serif;
				    background: #4B77B3 url(http://www.ilo.org/wcmsp5/ilo/global/images/templates/down-arrow-large.png) no-repeat 93% 48%;
				}
			}

			li.fast-nav {
				color: #FFF;
				font-size: 12px;
				line-height: 15px;
				text-align: right;
				padding: 11px 10px 10px 10px;
				font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
				width: 89px !important;
			}
		}
	}
}

/*
.large-5-col {
	float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66666667%;
}

.large-12-col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
*/

#logo {
	background-size: cover;
	background: url(http://www.ilo.org/wcmsp5/ilo/global/images/templates/ilo.png) no-repeat 0 0;
	color: #fff;
	display: block;
	height: 77px;
    margin: 18px 0 18px 0;
	overflow: hidden;
    -webkit-background-size: 100%;
	width: 215px;
}

#secondary-banner {
	background-color: #6B91CB;
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 1000;

	form {
		display: block;
		margin-top: 0em;
	}

	.container nav ul li a:hover {
		background-color: #1f2750;
		color: #fff;
	}

	.container .form-search {
		border: 0;

		label {
			display: none;
		}

		.btn {
		    color: #fff;
		    font-size: 0;
		    text-indent: -9999px;
		    overflow: hidden;
		    width: 37px;
		    height: 37px;
		    border: none;
		    margin: 0;
		    display: block;
		    float: left;
		    padding: 0;
		    background: #4B77B3 url(http://www.ilo.org/wcmsp5/ilo/global/images/templates/mag-low.png) no-repeat 50% 50%;
		    border-right: 1px solid rgba(0,0,0,.1);
		    border-left: 1px solid rgba(0,0,0,.1);
		}

		input {
			border: 0;
			height: 36px;
			padding: 0 10px;
			background-color: #FFF;
			font-size: 12px;
			line-height: 15px;
			font-family: "FS Me Web Light",Helvetica,Arial,Verdana,sans-serif;
			color: #4B4B4B;
			margin: 0;
			width: 205px;
			border-right: 1px solid rgba(255,255,255,.1);
			border-top: 1.5px solid rgba(0,0,0,.3);
			border-left: 1.5px solid rgba(0,0,0,.3);
			float: left;
			-webkit-border-radius: 0;
			-webkit-appearance: none;
			border-radius: 0;
		}

		input[type="hidden"] {
			display: none;
		}
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

#tertiary-banner {
	background-color: #263062;
	margin: -7px 0 0;
	overflow: hidden;

	.navbar-toggle {
		display: none;
		color: #FFF;
		height: 8px;
		width: 50%;
		padding: 15px 10px;
		font-family: "FS Me Web Bold",Helvetica,Arial,Verdana,sans-serif;
		font-size: 12px;
		line-height: 15px;
		border-left: 1px solid rgba(255,255,255,.2);
		border-right: 1px solid rgba(255,255,255,.2);
		background: transparent url(http://www.ilo.org/wcmsp5/ilo/global/images/templates/down-arrow-large.png) no-repeat 99.4% 48%;

		.menu {
		    float: right;
		    padding-left: 30px;
		}

		.icon-bar {
			border-bottom: 1px solid #FFF;
			width: 17px;
			display: block;
			margin-bottom: 3px;
		}
	}

	nav ul li:first-child a {
		border-left: 0;
	}

	nav ul li:last-child a {
		border-right: 0;
	}

	nav ul li a {
	    font-family: "FS Me Web Bold",Helvetica,Arial,Verdana,sans-serif;
	    font-size: 12px;
	    border-left: 1px solid rgba(255,255,255,.2);
	    border-right: 1px solid rgba(0,0,0,.3);
	}

	nav ul li a:hover {
		background-color: #4558b3;
	}

	nav ul li.here a {
		background-color: #FFF;
		border-right-color: #FFF!important;
		cursor: default;
		color: #4B4B4B;
	}

	.home-link {
		display: none;
	}

	.icon-home {
		font-size: 15px;
	}
}

[class^=icon-] {
    font-family: icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.collapse {
	display: block;
	font-size: 0;
	line-height: 0;
}
