/* TitleBar */

/* Background color for Title Bar */
$class-slug-title: title-sdg- !default;

@each $current-color in $colors-list {
	$i: index($colors-list, $current-color) - 1;
	.#{$class-slug-title}#{$i} {
		background: $current-color;
		color: #fff;
		transition: background-color 0.1s ease;
	}
}

.titleBar {
	@include flex();
	flex-wrap: nowrap;
	min-height: 110px;
	padding: 0;
	position: relative;
	text-align: left;
	width: 100%;
}

.sdgNumber {
	align-self: center;
	font-family: $sdg-number;
	font-size: 8.5em;
	bottom: 10px;
	color: #fff;
	left: 2px;
	line-height: 75%;
	margin: 0 0px 0 2px;
	position: relative;
	right: 8px;
}

.viewerWindow > div:first-child {
	margin: 0;
	padding: 0;
}

.triangle {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $goal8color;
	content: "";
	display: block;
	margin: 2px 0;
	position: relative;
	height: 0;
	width: 0;
}

/* TITLE BAR FOR INTRO */

.defaultTitle {
	font-size: 3.3em;
	line-height: 80%;
}
