*, *:before, *:after {
  box-sizing: border-box;
}

.icon {
	max-width: 100px;
	display: inline-block;
}

.content-display {
	width: auto;
	height: 300px;
	margin: 0 0 5px;
	background-color: #ECE5FF;
}

@media screen and (max-width: 925px) {

	.vis-container {
		width: 412px;
	}

	.content-display {
		width: 412px;
	}

}
