.shareWidget {
	margin: 10px 0 30px;

	.fa-circle {
		color: $light-grey;
	}

	.fa-twitter, .fa-facebook, .fa-linkedin {
		color: #fff;
	}

	// Facebook Hover
	.fa-stack:nth-child(2):hover .fa-circle {
		color: #3B5998;
	}

	// Twitter Hover
	.fa-stack:nth-child(3):hover .fa-circle {
		color: #75B2F3;
	}

	// LinkedIn Hover
	.fa-stack:nth-child(4):hover .fa-circle {
		color: #0077b5;
	}

	span {
		margin: 0 15px;
	}

	span:first-child {
		display: none;
	}

	span:nth-child(2) {
		margin-left: 0;
	}
}
