@mixin hover($color) {
	color: $color;
	cursor: pointer;
	transition: color 200ms ease;
}

.shareWidget {
	color: $light-grey;
	font-size: .86em;
	margin: 5px 0 0;

	span {
		color: inherit;
	}
}

.fa {
	font-size: 16px;
	margin: 0 7px;
	position: relative;
	top: 1px;
}

.fa-facebook:hover {
	@include hover(#3B5998);
}

.fa-twitter:hover {
	@include hover(#75B2F3);
}

.fa-linkedin:hover {
	@include hover(#0077b5);
}
