/* focusTargetsMobile */

.focusTargets {
	margin: 25px 0;
	padding: 0 6px 0 5px;

	.mobile-target-description {
		display: inline-block;
	}
}

.targetSelector {
	display: block;

	.bullets {
		display: block;
		margin: 5px 0;
	}
}

.bullet {
	margin: 0 15px 0 0;
}

.target-description-wrapper {
	@include flex();
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	min-height: 60px;

	div:first-child {
		width: 80%;
	}

	.target-description {
		display: none;
	}

	span.more::before {
		color: $dark-grey;
		content: "...";
	}

	span.more::after {
		content: "(+)";
		font-weight: 600;
	}

}
