/* Focus Targets */

@import "src/styles/_utils";

.focusTargets {
	min-height: 100px;
	margin: 10px 0 0;
	padding: 0 20px 0 20px;
	text-align: left;

	span, p {
		display: inline;
	}

	.targetNumber, .instruction {
		margin: 0 5px 0 0;
	}

	p.mobile-target-description {
		display: none;
	}
}

.targetSelector {
	@include flex();
	flex-wrap: nowrap;
	margin: 0;
}

/* This should go in a Description scss  */
.sdgtarget {
	border-radius: 2px;
	bottom: 1px;
	color: #fff;
	font-family: arial;
	font-size: .65em;
	font-weight: 400;
	opacity: .3;
	padding: 2px;
	position: relative;
}
