/* focusTargetsMobile */

.focusTargets {
	margin: 25px 0;
	padding: 0 6px 0 5px;
}

.targetSelector {
	display: block;

	.bullets {
		display: block;
		margin: 5px 0;
	}
}

.bullet {
	margin: 0 15px 0 0;
}

.targetDescription {
	@include flex();
	align-items: flex-start;
	flex-wrap: nowrap;
	justify-content: space-between;
	min-height: 160px;

	div:first-child {
		width: 80%;
	}
}
