/* Focus Targets */

@import "src/styles/_utils";
@import "src/styles/base";

.focusTargets {
	font-family: $font-stack;
	padding: 0 20px 0 20px;
	text-align: left;
}

.targetSelector {
	@include flex();
	flex-wrap: nowrap;
	margin: 5px 0;
}

.bullets {
	margin: 0;
	padding: 0;
}

.bullet {
	color: $bulletUnselected;
	display: inline;
	font-size: 3em;
	line-height: 50%;
	margin: 0 10px 0 10px;
	position: relative;
	top: 2px;
}

.bullet::before {
	content: "\2022";
}
