/* Focus Targets */

@import "src/styles/_utils";
@import "src/styles/base";

.focusTargets {
	margin: 10px 0;
	padding: 0 20px 0 20px;
	text-align: left;
}

.targetSelector {
	@include flex();
	flex-wrap: nowrap;
	margin: 5px 0;
}
