/* Tooltip */

.viewerWindowContent .tooltip {
	font-family: $font-stack;
	font-size: 1em;
}

.viewerWindowContent .tooltip {
	background-color: #000;
	bottom: 70%;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	color: #fff;
	display: block;
	font-weight: 400;
	left: 25%;
	margin-bottom: 15px;
	min-width: 250px;
	padding: 15px;
	pointer-events: none;
	position: absolute;
	text-align: left;
	transition: all .25s ease-out;
	width: 50%;
}

.target-number {
	font-weight: 600;
	margin: 0 0 5px 0;
}
