/* Tooltip */
/*
.tooltip {
	display: none;
}
*/

.viewerWindowContent .tooltip {
	font-family: $font-stack;
	font-size: 1em;
}

.viewerWindowContent .tooltip {
	background-color: #000;
	bottom: 80%;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	color: #fff;
	display: block;
	left: 25%;
	margin-bottom: 15px;
	min-width: 250px;
	opacity: 1;
	padding: 5px;
	pointer-events: none;
	position: absolute;
	text-align: left;
	transform: translateY(10px);
	transition: all .25s ease-out;
	width: 50%;
}


.viewerWindowContent .tooltip:before {
	bottom: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

/*
.viewerWindowContent .tooltip:before {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-top: solid rgba(0,0,0,0.7) 10px;
	bottom: -10px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	width: 0;
}


.description:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0px);
}
*/
