/* defaultViewerWindowContent */

.defaultViewerWindowContent {
  box-sizing: border-box;
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32vh;
	justify-content: space-between;
	position: relative;
}

.defaultViewerWindowContent div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 55%;
  height: 100%;
  text-align: left;
}

.defaultViewerWindowContent div:nth-child(2){
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 55%;
  height: 100%;
  overflow: hidden;
  text-align: left;
}

.defaultDescription {
	box-sizing: border-box;
  height: inherit;
	text-align: left;
}

.gglogo {
  position: absolute;
  max-width: 50%;
}
