/* defaultViewerWindowContent */

.defaultViewerWindowContent {
	@include flex();
	box-sizing: border-box;
	min-height: 293px;
	margin: 20px 0 20px 20px;
	position: relative;

	.iframe-wrapper {
		clear: both;
		float: none;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		width: 100%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.defaultDescription {
	box-sizing: border-box;
	text-align: left;
	width: calc(67% - 20px);

	p {
		font-size: 2rem;

		span {
			color: $titleColor;
			cursor: pointer;
		}

		a:hover {
			color: $bulletSelected;
		}
	}

	p:first-child {
		margin: 0 0 20px 0;
	}
}

.gglogo-container {
	box-sizing: border-box;
	width: 33%;
}

.gglogo {
	width: 100%;
}

.emphasize {
	font-style: normal;
	font-weight: 600;
}
