/* defaultViewerWindowContent */

.defaultViewerWindowContent {
  box-sizing: border-box;
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32vh;
	justify-content: space-between;
	position: relative;
}

.defaultViewerWindowContent div:first-child {
  flex-basis: 60%;
  text-align: left;
}

.defaultViewerWindowContent div:nth-child(2){
  flex-basis: 40%;
  text-align: left;
}

.defaultDescription {
	box-sizing: border-box;
	text-align: left;
}
