/* defaultViewerWindowContent */

.defaultViewerWindowContent {
	min-height: inherit;
	margin: 20px 15px;
}

.defaultDescription {
	width: 100%;
}

.gglogo-container {
	display: none;
}

.defaultTitle {
	font-size: 3rem;
	line-height: .9em;
	margin-bottom: 15px;
}
