/* defaultViewerWindowContent */

.defaultViewerWindowContent {
	margin: 20px 15px;
}

.defaultDescription {
	width: 100%;
}

.gglogo-container {
	display: none;
}

.defaultTitle {
	font-size: 3em;
	line-height: .9em;
	margin-bottom: 15px;
}
